body{
    background-color: #f2d7d0;    
}
h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1000%;
    opacity: 0.9;
    
}
h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 640%;
    opacity: 0.9;
    position: inherit;
    top:-110px
}
p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 200%;
    position: relative;
    top: 0px;
    right:-100px;
    margin-right: 900px;
    background-color: aliceblue;


}
div.Title {
    position: relative;
   left: -400px;
   top:130px;

}
